@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: center;
}
.overlay{
    position: relative;
    /* width: ; */
}
p.name {
    position: absolute;
    bottom: 30px;
    font-size: 2.3em;
    color: white;
    padding-left: 10px;
}
.bigtext{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.intro {
    background-color: pink;
    padding: 10px;
    max-width: 500px;
    align-items: center;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .about{
    align-self: flex-start;
}

.intro > *{
    margin-bottom: 20px;
}
img.socials {
    width: 20px;
}
.headersocials{
    align-self: flex-end;
}
main{
    padding: 20px;
    display: grid;
    justify-content: center;
}
.wrap{
    /* display: flex; */
    gap: 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.projectContent{
    background-color: var(--white);
    width: 250px;
    height: 280px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.screenshot{
    height: 150px;
    background-color: aqua;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: white;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.description{
    padding: 10px;
}
.red{
    background-color: red;
}
.green{
    background-color:green;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.lightBlue{
    background-color: lightblue;
}
.blue{
    background-color: blue;
}
.contacts > *{
    padding: 10px;
}
.contacts p{
    width: 250px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #0891B2;
    color: white;
    gap: 20px;
    padding: 30px;
}
@media (max-width: 1000px) {
    body{
        font-size: 2rem;
    }
    .wrap{
        grid-template-columns: 1fr 1fr;
    }
    header {
        justify-content: center;
        display: flex;
        margin: auto;
        padding: 20px;
    }
    .contacts{
        width: 60%;
    }
    picture{
        float: left;
    }
    footer picture{
        width: 40%;
    }
    .footerImage{
        max-width: 300px;
    }
    .intro{
        display: block;
        max-width: 650px;
    }
    .top{
        display: block;
        width: 100%;
    }
}
@media (max-width: 600px) {
    body{
        font-size: 1.2rem;
    }
    .wrap{
        grid-template-columns: 1fr;
    }
    .top,
    footer{
        display: block;
        width: 100%;
    }
    .intro{
        background-color: white;
    }
    .intro .about {
        align-self: flex-start;
        text-align: center;
        width: 100%;
    }
    .headersocials {
        align-self: center;
    }
    header {
        justify-content: center;
        display: flex;
    }

p.name.bigtext {
    font-size: 2.8em;
}
.top {
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
